{#
/**
 * @file scheduled_update.html.twig
 * Default theme implementation to present Scheduled update data.
 *
 * This template is used when viewing Scheduled update pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_scheduled_update()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('scheduled_update') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
